<% include ../header %>
<header>
	<h2>Ntalk - New contato</h2>
</header>
<section>
	<form action="/contato" method="post">
		<label>Nome:</label>
		<input type="text" name="contato[nome]">
		<label>E-mail:</label>
		<input type="text" name="contato[email]">
		<button type="submit">Atualizar</button>
	</form>
</section>
<% include ../exit %>
<% include ../footer %>